div.my_info{
width:70%;
float:left;
}

div.left_side{
float:left;
padding-left:50px;
}

div.right_side{
float:left;
padding-left:50px;
}

div.multiline{
width:400px;
height:150px;
overflow:auto;
}

div#reqlog{
width:70%;
float:left;
padding-left:50px;
clear:both;
}

ul.left_side_ul{
list-style-type:none;
}
