{% extends "base.html" %}
{% block head %}<title>Edit info</title>{% endblock %}
{% block body %}

{{ form.media }}
<script type="text/javascript">
	function upload_img(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function (e) {
				$('#img_prev').attr('src', e.target.result);
			}
			
			reader.readAsDataURL(input.files[0]);
		}
	}
</script>


<script type="text/javascript">
function display_form_errors(errors, $form) {
	for (var error in errors) {
		$form.find('textarea[name=' + error + '], input[name=' + error + ']').after('<div class="error" style="color:#ff0000">' + errors[error] + '</div>');
	}
}

$(document).ready(function() {
	var options = {
		url:		'{% url editinfo %}',
		type:		'post',
		dataType:	'json',
		success:	responseShow
	};
	$('#editmyinfo').submit(function() {
		$(this).ajaxSubmit(options);
		var $form_elems = $(this).find('input, textarea, button');
		$form_elems.prop("disabled",true);
		$('#error_message').text("Loading data, it may take a few moments...").fadeIn("slow");
		return false;
	});
});
function responseShow(data, responseText, statusText, xhr, $form) {
	$('#editmyinfo').find('input, textarea, button').prop("disabled", false);
	$('#editmyinfo').find('.error').remove();
	$('#error_message').fadeOut("slow");
	if (data['result'] == 'success') {
		e_msg = data['message'];
	}
	else if (data['result'] == 'error') {
		e_msg = "Your form contains errors, please check out!";
		display_form_errors(data['response'], $('#editmyinfo'));
	}
	$('#error_message').text( e_msg ).fadeIn("slow");
}
</script>

<script type="text/javascript">
    $(function() {
        $('#id_birth_date').datepicker();
    });
</script>

<form id="editmyinfo" enctype="multipart/form-data" action="{% url editinfo %}" method="POST">
	{% csrf_token %}
	<div class="form_left">
		<div class="fieldWrapper" id="idname">
			{{ form.name.label_tag }} {{ form.name }}
			{{ form.name.errors }}
		</div>
		<div class="fieldWrapper" id="idsurname">
			{{ form.surname.label_tag }} {{ form.surname }}
			{{ form.surname.errors }}
		</div>
		<div class="fieldWrapper" id="idbirth_date">
			{{ form.birth_date.label_tag }} {{ form.birth_date }}
			{{ form.birth_date.errors }}
		</div>
		<div class="fieldWrapper" id="idmy_photo">
			{{ form.my_photo.label_tag }} 
			{{ form.my_photo }}
			{{ form.my_photo.errors }}
		</div>
		<div class="clr"></div>
		<div id="img_container"><img id="img_prev" src="#" alt="Image preview"  /></div>		
	</div>
	<div class="form_right">
		<div class="fieldwrapper" id="idemail">
			{{ form.email.label_tag }} {{ form.email }}
			{{ form.email.errors }}
		</div>
		<div class="fieldWrapper" id="idjabber">
			{{ form.jabber.label_tag }} {{ form.jabber }}
			{{ form.jabber.errors }}
		</div>
		<div class="fieldWrapper" id="idskype">
			{{ form.skype.label_tag }} {{ form.skype }}
			{{ form.skype.errors }}
		</div>
		<div class="fieldWrapper" id="idother_cont">
			{{ form.other_cont.label_tag }} {{ form.other_cont }}
			{{ form.other_cont.errors }}
		</div>
		<div class="fieldWrappe" id="idbio">
			{{ form.bio.label_tag }} {{ form.bio }}
			{{ form.bio.errors }}
		</div>
	</div>
	<div class="clr"></div>
	<div id="error_message">Fill the form and press Submit button</div>
	<p id="form_butts"><button id="savebutton" type="submit">Submit</button> <a href="{% url home %}">cancel</a></p>
</form>
{% endblock %}
