div.my_info{
width:70%;
float:left;
}

div.left_side{
float:left;
clear:both;
padding-left:50px;
}

div.right_side{
float:left;
padding-left:50px;
}

div.multiline{
width:400px;
height:150px;
overflow:auto;
}

h1{
padding-left:50px;
}
