div.my_info{
float:left;
}

div.left_side{
float:left;
padding-left:20px;
}

div.right_side{
float:left;
padding-left:50px;
}

div.multiline{
width:400px;
height:150px;
overflow:auto;
}

div#reqlog{
width:70%;
float:left;
padding-left:10px;
clear:both;
}

ul.left_side_ul{
list-style-type:none;
}

textarea{
display:block;
}

form#editmyinfo{
float:left;
}

div.form_left{
float:left;
}

div.form_right{
float:left;
padding-left:70px;
}

div.fieldWrapper{
padding:5px;
}

#idname, #idsurname, #idbirth_date, #idmy_photo{
float:right;
clear:both;
padding-right:40px;
}

#idemail, #idjabber, #idskype, #idother_cont, #idbio{
float:right;
clear:both;
}

#idemail, #idjabber, #idskype{
padding-right:60px;
}

#img_prev{
float:left;
max-width:480px;
border: solid black 1px;
}

#my_photo_prev{
max-width:480px;
border: solid black 1px;
}

div.login{
float:left;
padding-left:30px;
}

div.clr{
clear:both;
}
